<h3 class="my-4 font-weight-bold" style="color: #4F2EA9;">Hello {{student.first_name}} {{student.last_name}}</h3>
<div>
    <p>The meeting link for {{event.title}} event has just been updated by your mentor, below is the new meeting link.</p>
    <h5>New Meeting Link: {{meeting_link}}</h5>
</div>