<h3 class="my-4 font-weight-bold" style="color: #4F2EA9;">Hello Admin</h3>
<div>
    <p>{{user.first_name}} {{user.last_name}} has just filled and completed his technical assessment, please see to it
        for approval
    </p>
</div>


