<h3 class="my-4 font-weight-bold" style="color: #4F2EA9;">Hello {{user.first_name}} {{user.last_name}}</h3>
<div>
    <p>The system could not renew your subscription, please renew for continued access on the academy, thank you
    </p>
</div>