<h3 class="my-4 font-weight-bold" style="color: #4F2EA9;">Hello Admin</h3>
<div>
    <p>{{user.first_name}} {{user.last_name}} has just enrolled for a free program ({{program.name}}) on madesoft academy
    </p>
</div>


