<h3 class="my-4 font-weight-bold" style="color: #4F2EA9;">Hello {{student.first_name}} {{student.last_name}}</h3>
<div>
    <p>Your mentor just accepted your request to meet with him, please find the meeting link below, or you can as well get the meeting link from the academy.
    </p>
    <h5>Meeting Link: {{meeting_link}}</h5>
</div>