<h3 class="my-4 font-weight-bold" style="color: #4F2EA9;">Hello {{first_name}}</h3>
<div>
  <p> You have just been registered as a mentor on Madesoft Academy, below are your login credentials  </p>
  <h4>Email: {{email}}</h4>
  <h4>Program: {{password}}</h4>
</div>