<h3 class="my-4 font-weight-bold" style="color: #4F2EA9;">Hello {{user.first_name}} {{user.last_name}}</h3>
<div>
    <p>it seems your mentor isn't so happy with your submission on {{assignment.title}} assignment and he wants you to resubmit, please see to it speedily for punctuation reasons
    </p>
</div>