<h3 class="my-4 font-weight-bold" style="color: #4F2EA9;">Hello {{user.first_name}} {{user.last_name}}</h3>
<div>
    <p>
        Your assignment submission on {{answer.assignment.title}} has just been graded by your mentor.
    </p>
</div>