<h3 class="my-4 font-weight-bold" style="color: #4F2EA9;">Hello {{sub.sale.user.first_name}} {{sub.sale.user.last_name}}</h3>
<div>


    <p>Your subscription for the {{sub.sale.program.name}} Program will be due in the next 7 days.
        please ensure you renew before then, or the system will renew it automatically.
    </p>


</div>