<h3 class="my-4 font-weight-bold" style="color: #4F2EA9;">Hello Admin</h3>
<div>
        <p>A user just enrolled for a free program on madesoft academy, see details below
        </p>
    <h4>Name: {{user.first_name}} {{user.last_name}}</h4>
    <h4>Program: {{program.name}}</h4>
</div>


